<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>NG-REPEAT - ng-repeat</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>


    </head>    
    <body>

        <div class="container" ng-controller="listadoCtrl">
            
            <h1>ng-repeat</h1>
            <h4>Manejando repeticiones</h4>
            <hr>

            <ul>
                <li ng-repeat="nombre in listado">
                    {{ nombre | uppercase }}
                </li>
            </ul>
            <hr>
            {{ listado | json }}

            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div><!-- fin del listadoCtrl -->
        
    </body>
</html>
