<!DOCTYPE html>
<html ng-app>
    <head>
        <title>.: Angular JS - Evaluación 101 :.</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- AngularJS -->
        <script src="js/lib/angular.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <h1>Evaluación</h1>
            <h4>Angular 101</h4>
            <hr>

            <p>
                Nombre Completo:
                <br>
                <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre completo">
                Lugar de trabajo:
                <br>
                <input type="text" ng-model="trabajo" class="form-control" placeholder="Ingrese su lugar de trabajo">
                Salario en dólares:
                <br>
                <input type="text" ng-model="salario" class="form-control" placeholder="Ingrese su salario en dólares">
            </p>

            <p>
                Nombre: {{ nombre | uppercase }}
                <br>
                Lugar de trabajo: {{ trabajo | lowercase }}
                <br>
                Con un salario de: {{ salario | currency }}
            </p>
            
            <br><br>
            <hr>
            <a href="/" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>
    </body>
</html>
