<!DOCTYPE html>
<html lang="en" ng-app="promesaApp">
    <head>
        <meta charset="UTF-8">
        <title>Servicios</title>

        <script src="js/lib/angular.min.js" type="text/javascript"></script>
        <script src="angular/app.js" type="text/javascript"></script>
        <script src="angular/controladores.js" type="text/javascript"></script>
        <script src="angular/servicios.js" type="text/javascript"></script>

        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container" ng-controller="personasCtrl">

            <h1>Servicios</h1>
            <hr>

            <label class="label label-primary" ng-show="personas.cargando"> Cargando data...</label>

            <pre> {{ personas | json }}</pre>

            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>
    </body>
</html>