<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="profesor in profesores">
            <td>{{ profesor.nombre }} {{ profesor.snombre }}</td>
            <td>{{ profesor.sexo }}</td>
        </tr>
    </tbody>
</table>
