<!DOCTYPE html>
<html ng-app="bonusApp" ng-controller="mainCtrl">
    <head>
        <meta charset="utf-8" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <title>Formularios</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app.js"></script>



    </head>    
    <body>

        <div class="container">

            <h1>Formularios</h1>
            <hr>

            <div class="row">
                <div class="col-md-7">

                    <form name="formulario" ng-submit="guardar_datos(formulario.$valid)" novalidate="novalidate">

                        <div class="form-group" ng-class="{
                        'has-error': !formulario.nombre.$valid && !formulario.$pristine,
                        'has-success': formulario.nombre.$valid && !formulario.$pristine
                    }">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" ng-model="formData.nombre" required="required">
                            <p class="help-block"
                               ng-hide="formulario.nombre.$valid || formulario.$pristine">
                                Este campo es requerido
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="edad">Edad</label>
                            <input type="number" id="edad" class="form-control" ng-model="formData.edad">
                        </div>

                        <div class="form-group">
                            <label for="genero">Genero</label>
                            <select class="form-control" id="genero" ng-model="formData.genero">
                                <option value=""></option>
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
                        </div>

                        <div class="form-group" ng-class="{
                        'has-error': !formulario.email.$valid && !formulario.$pristine,
                        'has-success': formulario.email.$valid && !formulario.$pristine
                    }">
                            <label for="email">Email</label>
                            <input type="email" 
                                   id="email" 
                                   name="email" 
                                   class="form-control" 
                                   ng-model="formData.email" 
                                   required="required">
                            <p class="help-block"
                               ng-show="formulario.email.$error.required && !formulario.$pristine">
                                Este campo es requerido
                            </p>
                            <p class="help-block"
                               ng-show="formulario.email.$error.email && !formulario.$pristine">
                                Este campo no tiene formato correcto
                            </p>
                        </div>
                        
                        <button type="submit" class="btn btn-primary"> Guardar</button>
                    </form>            

                </div>

                <!-- Bloque de codigo -->
                <div class="col-md-5">
                    <label>Estructura de datos</label>
                    <pre> {{ formulario | json }} </pre>
                </div>

            </div>


            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>

    </body>
</html>
