<!DOCTYPE html>
<html ng-app="bonusApp" ng-controller="mainCtrl">
    <head>
        <meta charset="utf-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <title>Bonus 01 - ngTouch</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-touch.min.js" type="text/javascript"></script>
        <script src="js/app.js"></script>


    </head>    
    <body>

        <div class="container">
            <h1>Bonus 01</h1>
            <h2>ngTouch</h2>
            <hr>
            <button class="btn btn-primary" ng-click="mostrar_alerta()"><i class="fa fa-search"></i>Mostrar Alerta</button>

            <br><br>
            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>




    </body>
</html>
