<ol class="breadcrumb animated fadeIn fast">
    <li><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Clientes</li>
</ol>

<div class="row">

    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Clientes</h3>
                <div class="box-tools">
                    <div class="input-group">
                        <a ng-click="mostrarModal({})" class="btn btn-primary"><i class="fa fa-plus"></i> Agregar cliente</a>
                    </div>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Teléfono 1</th>
                            <th>Teléfono 2</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cliente in clientes.clientes">
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.correo }}</td>
                            <td>{{ cliente.telefono1 }}</td>
                            <td>{{ cliente.telefono2 }}</td>
                            <td>
                                <a ng-click="mostrarModal( cliente )" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <!--<li><a href="#/clientes/1">&laquo;</a></li>-->
                    <li><a ng-click="moverA(1)">&laquo;</a></li>
                    
                    <li ng-repeat="pag in clientes.paginas"
                        ng-class="{
                            'active': clientes.pag_actual === pag
                        }">
                        <!--<a href="#/clientes/{{ pag }}">{{ pag }}</a>-->
                        <a ng-click="moverA(pag)">{{ pag }}</a>
                    </li>
                    
                    <!--<li><a href="#/clientes/{{ clientes.total_paginas }}">&raquo;</a></li>-->
                    <li><a ng-click="moverA(clientes.total_paginas)">&raquo;</a></li>
                    
                </ul>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col-md-6 -->
</div>
<!-- /.row -->


<div ng-include="'template/modal_cliente.html'"></div>