<!DOCTYPE html>
<html>
    <head>
        <title>.: Angular JS - Sección 04 :.</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h1>Sección 04</h1>
            <h4>en AngularJS</h4>
            <hr>

            <ol start="14">
                <li>
                    <a href="14/index.html">ng-repeat: Parte 1</a>
                </li>
                <li>
                    <a href="15/index.html">ng-repeat: Parte 2</a>
                </li>
                <li>
                    <a href="16/index.html">filtros ng-repeat</a>
                </li>
                <li>
                    <a href="17/index.html">OrderBy - En filtros y ng-repeat</a>
                </li>
                <li>
                    <a href="18/index.html">ng-options</a>
                </li>
            </ol>
            <hr>
            <a href="/" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>
    </body>
</html>
