<!DOCTYPE html>
<html ng-app="bonusApp" ng-controller="mainCtrl">
    <head>
        <meta charset="utf-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <title>Bonus 02 - SweetAlert</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app.js"></script>
        
        <!-- SweetAlert -->
        <!-- old -->
        <link href="plugins/sweetalert.old/sweetalert.css" rel="stylesheet" type="text/css"/>
        <script src="plugins/sweetalert.old/sweetalert.min.js" type="text/javascript"></script>
        <!-- new -->
        <!--<script src="plugins/sweetalert.new/sweetalert.min.js" type="text/javascript"></script>-->
        
    </head>    
    <body>
        
        <div class="container">
            <h1>Sweet Alert</h1>
            <h2> {{ borradoMensaje }} </h2>
            <hr>
            
            <div class="col-sm-2">
                
                <button class="btn btn-primary" ng-click="mostrar_alerta()">Alerta</button>
                
            </div>
            <div class="col-sm-2">
                
                <button class="btn btn-primary" ng-click="mostrar_subtitulo()">Alerta con Sub</button>
                
            </div>
            <div class="col-sm-2">
                
                <button class="btn btn-danger" ng-click="mostrar_confirmacion()">Confirmación</button>
                
            </div>
            <div class="col-sm-2">
                
                <button class="btn btn-info" ng-click="mostrar_input()">Input text</button>
                
            </div>





            <br><br>
            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>
        
    </body>
</html>
