<!DOCTYPE html>
<html ng-app>
    <head>
        <title>.: Angular JS - Ejercicio 01 :.</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- AngularJS -->
        <script src="js/lib/angular.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <h1>np-model</h1>
            <h4>en AngularJS</h4>
            <hr>

            <p>
                Su nombre: {{ nombre }}
                <br>
                Su nombre: {{ nombre | uppercase }}
                <br>
                <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
            </p>

            <p>
                Selecciones el pais: {{ pais }}
                <select class="form-control" ng-model="pais">
                    <option value="1">Costa Rica</option>
                    <option value="2">México</option>
                    <option value="3">Chile</option>
                </select>
            </p>

            <p>
                Selecciones las opciones que desea: {{ opt1 }} {{ opt2 }}
                <br>
                <input type="checkbox" ng-model="opt1" > Opción 1
                <br>
                <input type="checkbox" ng-model="opt2" > Opción 2
            </p>

            <p>
                Seleccione el género: {{ genero }}
                <br>
                <input type="radio" value="M" ng-model="genero"> Masculino
                <br>
                <input type="radio" value="F" ng-model="genero"> Femenino
            </p>
            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>
    </body>
</html>
