<div class="modal fade" id="modal_cliente">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Cliente: </h4>
            </div>

            <form method="POST" role='form' name='frmCliente'
                  ng-submit="guardar( clienteSel, frmCliente )"
                  novalidate="novalidate">

                <div class="modal-body">

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre"
                               ng-model="clienteSel.nombre" required="required">
                    </div>
                    
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" class="form-control" placeholder="Correo"
                               ng-model="clienteSel.correo" required="required">
                    </div>
                    
                    <div class="form-group">
                        <label>Dirección</label>
                        <textarea type="text" class="form-control" placeholder="Dirección"
                                  ng-model="clienteSel.direccion"></textarea>
                    </div>

                    <div class="form-group">
                        <label>País</label>
                        <select type="text" class="form-control" placeholder="País"
                                ng-model="clienteSel.pais">
                            <option value='Costa Rica'>Costa Rica</option>
                            <option value='España'>España</option>
                            <option value='Argentina'>Argentina</option>
                            <option value='Chile'>Chile</option>
                            <option value='Portugal'>Portugal</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Teléfono 1</label>
                        <input type="text" class="form-control" placeholder="Teléfono 1"
                               ng-model="clienteSel.telefono1">
                    </div>
                    
                    <div class="form-group">
                        <label>Teléfono 2</label>
                        <input type="text" class="form-control" placeholder="Teléfono 2"
                               ng-model="clienteSel.telefono2">
                    </div>
                    
                    <div class="form-group">
                        <label>Zip</label>
                        <input type="text" class="form-control" placeholder="Zip"
                               ng-model="clienteSel.zip">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>