<!-- Menu toggle button -->
<a href="" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning" ng-hide="notificaciones.length===0">{{ notificaciones.length }}</span>
</a>
<ul class="dropdown-menu">
    <li class="header">Tienes {{ notificaciones.length }} notificacion(s)</li>
    <li>
        <!-- Inner Menu: contains the notifications -->
        <ul class="menu">

            <!-- start notification -->
            <li ng-repeat="notificacion in notificaciones">
                <a href="">
                    <i class="fa {{ notificacion.icono }} text-info"></i> 
                    {{ notificacion.notificacion }}
                </a>
            </li><!-- end notification -->


        </ul>
    </li>
    <li class="footer"><a href="">Todas las notificaciones</a></li>
</ul>