<h1>Alumnos</h1>
<h4>Listado de alumnos en el sistema.</h4>
<hr>
<div class="row">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="alumno in alumnos">
                <td>{{ alumno.codigo }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.telefono | telefono }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <!--{{ alumnos | json }}-->
</div>