<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ejercicio 02 - Profesor</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app.js" type="text/javascript"></script>

    </head>    
    <body>

        <div class="container" ng-controller="profesorCtrl as profe">

            <h1>Profesor</h1>
            <h4>{{ profesor.nombre }}</h4>
            <hr>

            <div class="row">

                <!-- Div que contiene la imagen del profesor -->
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body" align="center">
                            <img ng-src="{{ profesor.foto }}" class="img-circle" alt="" width="150px" height="150px">
                        </div>
                    </section>
                </div>

                <!-- Div, donde se mostrará la bio del profesor -->
                <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                            {{ profesor.bio }}
                            <br>
                            <br>
                            <strong>Edad:</strong> {{ profesor.edad }} años   
                            <br>
                            <button class="btn btn-primary" ng-click="EditarProfesor()">Editar</button>
                        </div>
                    </section>
                </div>


            </div>

            <div class="row" ng-show="mostrarCaja">
                <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                            Nombre:
                            <input type="text" class="form-control" ng-model="editando.nombre">
                            <br>
                            Edad:
                            <input type="number" class="form-control" ng-model="editando.edad">
                            <br>
                            Bio:
                            <textarea class="form-control" rows="5" ng-model="editando.bio"></textarea>
                            <br>
                            <button class="btn btn-primary" ng-click="GuardarCambios()">Guardar</button>
                            <button class="btn btn-danger" ng-click="CancelarCambios()">Cancelar</button>
                        </div>
                    </section>
                </div>
            </div>
            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>

    </body>
</html>
