<!DOCTYPE html>
<html ng-app="bonusApp" ng-controller="mainCtrl">
    <head>
        <meta charset="utf-8">
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <title>Formularios</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/jcs-auto-validate.js" type="text/javascript"></script>
        
        
        <script src="js/app.js"></script>



    </head>    
    <body>

        <div class="container">

            <h1>Formularios</h1>
            <hr>

            <div class="row">
                <div class="col-md-7">

                    <form name="formulario" 
                          ng-submit="guardar_datos(formulario.$valid)"
                          novalidate="novalidate">

                        <div class="form-group">
                            <label class="control-label" for="nombre">Nombre</label>
                            <input type="text" id="nombre" class="form-control"
                                   name="nombre"
                                   ng-model="formData.nombre"
                                   ng-minlength="3"
                                   ng-maxlength="10"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="edad">Edad</label>
                            <input type="number" id="edad" class="form-control"
                                   ng-model="formData.edad"
                                   min="18"
                                   max="80"
                                   ng-min-err-type="edadMinima"
                                   ng-max-err-type="edadMaxima"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="genero">Genero</label>
                            <select class="form-control" id="genero"
                                    ng-model="formData.genero"
                                    required="required">
                                <option value=""></option>
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input type="email" id="email" class="form-control"
                                   name="email"
                                   ng-model="formData.email"
                                   required="required">
                        </div>

                        <button type="submit" class="btn btn-primary"> Guardar</button>
                    </form>            

                </div>

                <!-- Bloque de codigo -->
                <div class="col-md-5">
                    <label>Estructura de datos</label>
                    <pre> {{ formulario | json }} </pre>
                </div>

            </div>


            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>

    </body>
</html>
