<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>NG-REPEAT - ng-repeat</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>


    </head>    
    <body>

        <div class="container" ng-controller="listadoCtrl">

            <h1>ng-repeat</h1>
            <h4>Manejando repeticiones</h4>
            <hr>

            <ul>
                <li ng-repeat="nombre in listado">
                    {{ nombre | uppercase }}
                </li>
            </ul>
            <hr>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Clase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="profesor in listadoProfesores.profesores">
                        <td>{{ profesor.nombre }}</td>
                        <td>{{ profesor.edad }}</td>
                        <td>{{ profesor.clase }}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            
            <ul>
                <li ng-repeat="numero in [1,2,3,4,5,6,7,8,9,10]">
                    2 x {{ numero }} = {{ 2 * numero }}
                </li>
            </ul>
            <hr>

            {{ listadoProfesores | json }}

            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div><!-- fin del listadoCtrl -->

    </body>
</html>
