<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Filtros - ng-repeat</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>

        <style>
            .avatar{
                width: 75px;
                height: 75px;
            }

        </style>

    </head>    
    <body>

        <div class="container" ng-controller="listadoCtrl">

            <h1>Filtros</h1>
            <h4>Para el ng-repeat</h4>
            <hr>

            <div class="row">
                Búsqueda:
                <br>
                <input type="text" ng-model="busqueda.nombre" class="form-control" placeholder="Ingrese lo que quiera buscar">
                <br>
                
                Sexo:
                <select ng-model="busqueda.sexo" class="form-control">
                    <option value="">Cualquiera</option>
                    <option value="mujer">Mujeres</option>
                    <option value="hombre">Hombres</option>
                </select>
            </div>
            <hr>
            
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Teléfono</th>
                        <th>Celular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="persona in personas | filter:busqueda">
                        <td><img ng-src="img/{{ persona.avatar }}" class="avatar img-rounded"></td>
                        <td> {{ persona.nombre }}</td>
                        <td> {{ persona.sexo }}</td>
                        <td> {{ persona.telefono }}</td>
                        <td> {{ persona.celular }}</td>
                    </tr>
                </tbody>
            </table>




            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div><!-- fin del listadoCtrl -->

    </body>
</html>
