<!DOCTYPE html>
<html ng-app="ejemplosApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>http-request</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>

    </head>    
    <body>

        <div class="container" ng-controller="mainCtrl">

            <h1>$HTTP Request</h1>
            <h4>Data dinámica</h4>
            <hr>

            
            

            {{ profesores | json }}
            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div><!-- fin del listadoCtrl -->

    </body>
</html>
