<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ejercicio 02 - Profesor</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/app.js" type="text/javascript"></script>

    </head>    
    <body>

        <div class="container" ng-controller="profesorCtrl as profe">

            <h1>Profesor</h1>
            <h4>{{ profe.profesor.nombre }}</h4>
            <hr>

            <div class="row">

                <!-- Div que contiene la imagen del profesor -->
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body" align="center">
                            <img ng-src="{{ profe.profesor.foto }}" class="img-circle" alt="" width="150px" height="150px">
                        </div>
                    </section>
                </div>

                <!-- Div, donde se mostrará la bio del profesor -->
                <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                            {{ profe.profesor.bio }}
                            <br>
                            <br>
                            <strong>Edad:</strong> {{ profe.profesor.edad }} años   
                        </div>
                    </section>
                </div>

                
            </div>


            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>

    </body>
</html>
