<h1>Alumno</h1>
<h4>{{ alumno.nombre | uppercase }}</h4>
<hr>
<div class="row">
    <form>

        Código:
        <br>
        <input type="text" class="form-control" ng-model="alumno.codigo" readonly>
        <br>
        Nombre:
        <br>
        <input type="text" class="form-control" ng-model="alumno.nombre">
        <br>
        Teléfono
        <br>
        <input type="text" class="form-control" ng-model="alumno.telefono" ui-mask="{{ telefonoMask }}">
        <br>
        Dirección:
        <br>
        <textarea type="text" class="form-control" ng-model="alumno.direccion" rows="5">
        </textarea>
        <br>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>