<h1>Alumnos</h1>
<h4>Listado de alumnos en el sistema.</h4>
<hr>
<div class="row">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="alumno in alumnos | limitTo:posicion | limitTo:-5">
                <td>{{ alumno.codigo }}</td>
                <td>{{ alumno.nombre }}</td>
                <td>{{ alumno.telefono | telefono }}</td>
                <td><a href="#/alumno/{{ alumno.codigo }}">Ver Registro</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-primary" ng-click="anteriores()">&lt;&lt;</button>
    <button class="btn btn-primary" ng-click="siguientes()">&gt;&gt;</button>

</div>