<!DOCTYPE html>
<html ng-app="ejemplosApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>El Clima</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>

    </head>    
    <body>

        <div class="container" ng-controller="mainCtrl">

            <h1>Clima</h1>
            <h4>Manejo de recursos online</h4>
            <hr>

            lat y lon: {{ clima.coord.lat }}, {{ clima.coord.lon }}
            <br><br>
            pais: {{ clima.sys.country }}
            <br><br>
            amanece: {{ clima.sys.sunrise | date:'HH:mm:ss' }}
            <br><br>
            anochece: {{ clima.sys.sunset | date:'HH:mm:ss' }}
            <br><br>
            temperatura: {{ toCelcius(clima.main.temp, 'k') }} °C

            <hr>
            {{ clima | json }}

            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div><!-- fin del listadoCtrl -->

    </body>
</html>
