<!DOCTYPE html>
<html ng-app>
    <head>
        <title>.: Angular JS - Ejercicio 01 :.</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- AngularJS -->
        <script src="js/lib/angular.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <h1>Filtros :: Filters</h1>
            <h4>en AngularJS</h4>
            <hr>
            
            <p>
                Filtro de texto: {{ "FerNandO" }}
                <br>
                Filtro de texto: {{ "FerNandO" | uppercase }}
                <br>
                Filtro de texto: {{ "FerNandO" | lowercase }}
            </p>
            
            <p>
                Filtro de moneda: {{ 1350 }}
                <br>
                Filtro de moneda: {{ 1350 | currency }}
                <br>
                Filtro de moneda: {{ 1350 | currency:'CLP $' }}
                <br>
                Filtro de moneda: {{ 1350 | currency:'' }}
            </p>
            
            <p>
                Filtro de número: {{ 1350000 }} 
                <br>
                Filtro de número: {{ 1350000 | number }} 
            </p>
            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div>
    </body>
</html>
