<!DOCTYPE html>
<html ng-app="universidadApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>ng-options</title>


        <!-- Incluir Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- Incluir AngularJS -->
        <script src="js/lib/angular.min.js"></script>

        <script src="js/app.js"></script>

    </head>    
    <body>

        <div class="container" ng-controller="listadoCtrl">

            <h1>ng-options</h1>
            <h4>Repeticiones para elementos</h4>
            <hr>

            Seleccione el pais:{{ paisSeleccionado }}
            <select class="form-control" ng-model="paisSeleccionado">
                <option value="">Seleccione</option>
                <option ng-repeat="pais in paises" value="{{ pais.id }}">{{ pais.nombre }}</option>
            </select>
            <hr>
            Seleccione el pais:{{ paisSeleccionado }}
            <select class="form-control" ng-model="paisSeleccionado" ng-options="pais.id as pais.nombre for pais in paises">
                <option value="">Seleccione</option>
            </select>

            <hr>
            <a href="../" style="position: fixed;
               bottom: 0px;
               margin-right: auto;
               margin-left: auto;">&lt;&lt; Volver</a>
        </div><!-- fin del listadoCtrl -->

    </body>
</html>
