<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">Universidad App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/">Inicio</a></li>
                <li><a href="#!/profesores">Profesores</a></li>
                <li><a href="#!/alumnos">Alumnos</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
