<!DOCTYPE html>
<html ng-app="facturaApp" ng-controller="mainCtrl">
    <head>
        <title>Factura HTML</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="content-type" content="text-html; charset=utf-8">

        <!-- El estilo que uso para la factura -->
        <link rel="stylesheet" href="css/estilo.css">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

        <!-- angularjs -->
        <script src="angular/lib/angular.min.js"></script>
        <script src="angular/app.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    </head>

    <body>
        <header class="clearfix">
            <div class="container">
                <img src="img/logo.gif" alt="logo" class="logo">
                <div class="company-address">
                    <h2 class="title"> {{ factura.compania}} </h2>
                    <p>
                        {{ factura.direccion}} <br>
                        {{ factura.ciudad}}, {{ factura.pais}}
                    </p>
                </div>
                <div class="company-contact hidden-print">
                    <div class="phone left">
                        <span class="circle"><i class="fa fa-phone"></i>
                            <span class="helper"></span></span>

                        <a href="tel:602-519-0450"> {{ factura.telefono}}</a>
                        <span class="helper"></span>
                    </div>
                    <div class="email right">
                        <span class="circle"><i class="fa fa-envelope-o"></i>
                            <span class="helper"></span></span>
                        <a href="mailto:{{ factura.correo}}">{{ factura.correo}}</a>
                        <span class="helper"></span>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="details clearfix">
                    <div class="client left">
                        <p>Factura para:</p>
                        <p class="name"> {{ cliente.nombre}} </p>
                        <p> {{ cliente.direccion}} </p>
                        <a href="mailto:{{ cliente.correo}}"> {{ cliente.correo}} </a>
                    </div>
                    <div class="data right">
                        <div class="title"> {{ maestro.id}} </div>
                        <div class="date">
                            Fecha: {{ maestro.creada}}
                        </div>
                    </div>
                </div>

                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="desc">Descripcion</th>
                            <th class="qty">Cantidad</th>
                            <th class="unit">Precio Unitario</th>
                            <th class="total">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in factura.detalle">
                            <td class="desc"><span class="producto"> {{ item.producto}} </span><br> {{ item.descripcion}}</td>
                            <td class="qty"> {{ item.cantidad}} </td>
                            <td class="unit"> {{ item.precio | currency }} </td>
                            <td class="total"> {{  item.precio * item.cantidad | currency  }} </td>
                        </tr>
                    </tbody>
                </table>
                <div class="no-break">
                    <table class="grand-total">
                        <tbody>
                            <tr>
                                <td class="desc"></td>
                                <td class="qty"></td>
                                <td class="unit">SUBTOTAL:</td>
                                <td class="total">{{ factura.subtotal() | currency}}</td>
                            </tr>
                            <tr>
                                <td class="desc"></td>
                                <td class="qty"></td>
                                <td class="unit">Impuesto {{ factura.ISV}}%:</td>
                                <td class="total">{{ factura.impuesto() | currency}}</td>
                            </tr>
                            <tr>
                                <td class="desc"></td>
                                <td class="unit" colspan="2">GRAN TOTAL:</td>
                                <td class="total">{{ factura.granTotal() | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="thanks">Gracias!</div>
                <div class="notice">
                    <div>Nota:</div>
                    <div>Cualquier desperfecto del producto, puede hacer el reclamo dentro de los proximos 5 días.</div>
                </div>
                <div class="end">Factura creada en una computadora y no es valida sin firma y sello.</div>
            </div>
        </footer>



        <!-- Fin de la factura -->


        <!-- Inicio de información adicional -->
        <div class="text-right hidden-print">
            <button class="btn btn-primary btn-lg" ng-click="imprimir()">Imprimir!</button>
        </div>


        <div class="hidden-print content">

            <h2>Esto no se imprimirá</h2>
            <hr>
            <p>
                No se imprime, gracias a las clases del bootstrap que de una manera muy simple, controlan que se ve y que no a la hora de imprimir desde el HTML.
            </p>
            <a href="http://getbootstrap.com/css/#responsive-utilities-print">Más información sobre las clases de impresión</a>
            <br>
            <h1>Atención con estas clases:</h1>
            <ul>
                <li>.hidden-print</li>
                <li>.visible-print-block</li>
                <li>.visible-print-inline</li>
                <li>.visible-print-inline-block</li>
            </ul>
            <pre>
		{{ factura | json }}
            </pre>
        </div>
        <a href="/" style="position: fixed;
           bottom: 0px;
           margin-right: auto;
           margin-left: auto;
           z-index: 9999">&lt;&lt; Volver</a>

    </body>

</html>
