<!DOCTYPE html>
<html ng-app="promesaApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promesas</title>

        <!-- AngularJS core -->
        <script src="js/lib/angular.min.js" type="text/javascript"></script>

        <!-- promesaApp core -->
        <script src="angular/app.js" type="text/javascript"></script>

        <!-- promesaApp controladores -->
        <script src="angular/controladores.js" type="text/javascript"></script>
    </head>
    <body>
        <div ng-controller="mainCtrl">
            
            {{ miVar }}
            
        </div>




        <hr>
        <a href="../" style="position: fixed;
           bottom: 0px;
           margin-right: auto;
           margin-left: auto;">&lt;&lt; Volver Volver</a>
    </body>
</html>
